<div class="skills">
  <h1 class="skills__header">{{'skills.title' | translate }}</h1>

  <div class="skills__content">
    <div class="skills__content__list">
      @for (skill of data; track skill.label) {
        <div class="skills__content__list-item">
          <h2 class="skills__content__list-item-title">
            {{skill.label }}
          </h2>
          <ul class="skills__content__list-item-content">
            @for (el of skill.content; track el.title) {
              <li class="skills__content__list-item-content-element">
                <p>
                  {{el.title}}
                </p>
              </li>
            }

          </ul>
        </div>
      }
    </div>
  </div>
</div>
