:host {
  display: flex;
  width: 70%;
}

.skills {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;

  &__header {
    font-size: 2rem;
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex: 1;
    width: 100%;

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, auto));
      gap: 4rem;
      width: 80%;
      justify-items: center;

      &-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        width: 200px;
        padding: 0 2rem;
        text-align: center;
        border-radius: 1rem;

        background-color: rgba(0, 0, 0, 0);
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
        transform: none;
        transition: transform 0.3s ease;

        &:hover {
          background-color: gray;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px;
          transform:   scale(1.05);
        }

        &-content {
          list-style: none;
          padding-inline-start: 0;

          &-element {
            padding-bottom: 1.2rem;
          }
        }

      }
    }
  }
}

@media (max-width: 768px) {
  .skills {
    &__content {
      &__list {
        gap: 2rem;
      }
    }
  }
}
