@use '../../../../../styles/sizes';
@use '../../../../../styles/colors';

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: colors.$footer-background-color;
  z-index: 10;
  padding: 0.5rem;

  &--fixed {
    position: fixed;
    bottom: 0;
  }

  &__container {
    width: 100%;
    text-align: center;

    &__text {
      font-size: sizes.$font-small;
    }
  }
}
