@use 'colors';
@use 'sizes';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 sizes.$padding-lg;

  &.navbar-light {
    background-color: colors.$blue-light;
  }
}

.nav-logo {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-size: sizes.$font-large;
  font-weight: 600;
  color: colors.$blue-primary;
  text-decoration: none;

  &:hover {
    color: colors.$blue-secondary;
  }
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .nav-item {
    margin: 0 sizes.$margin-sm;

    .nav-link {
      text-decoration: none;

      &:hover {
        color: colors.$blue-primary;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-nav {
    margin-top: sizes.$margin-sm;
    flex-direction: column;

    .nav-item {
      margin: sizes.$margin-xs 0;
    }
  }
}
