@use 'colors';
@use 'sizes';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 sizes.$padding-lg;

  &--light {
    background-color: colors.$blue-light;
  }

  &__logo {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  &__container {
    flex-grow: 1;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: sizes.$gap-base;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin: 0 sizes.$margin-sm;

      &-link {
        text-decoration: none;

        &:hover {
          color: colors.$blue-primary;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;

    &__nav {
      margin-top: sizes.$margin-sm;
      flex-direction: column;

      &-item {
        margin: sizes.$margin-xs 0;
      }
    }
  }
}
