<div class="contact contact--center">
  <div class="contact__header">
    <h2 class="contact__title">{{ 'contact.title'  | translate | uppercase }} </h2>
  </div>
  <form class="contact__form" [formGroup]="contactForm">
    <label class="contact__label" for="first-name">First Name:</label>
    <input class="contact__input" id="first-name" type="text" formControlName="firstName">

    <label class="contact__label" for="last-name">Last Name:</label>
    <input class="contact__input" id="last-name" type="text" formControlName="lastName">

    <label class="contact__label" for="email">Email:</label>
    <input class="contact__input" id="email" type="email" formControlName="email">

    <label class="contact__label" for="message">Message:</label>
    <input class="contact__input" id="message" type="email" formControlName="message">
  </form>
</div>
