@use 'colors';
@use 'sizes';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 sizes.$padding-lg;

  &--light {
    background-color: colors.$black-color;
  }

  &__logo {
    font-weight: bold;
    display: flex;
    align-items: center;
  }

  &__container {
    flex-grow: 1;
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    svg {
      transition: transform 0.3s ease;
    }

  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: sizes.$gap-base;
    list-style: none;
    margin: 0;
    padding: 0;

    &-item {
      margin: 0 sizes.$margin-sm;

      &-link {
        color: colors.$white-color;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;

        &:hover {
          color: colors.$green-primary;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__nav {
      margin-top: sizes.$margin-sm;
      flex-direction: column;
      display: none;

      &--active {
        display: flex;
      }

      &-item {
        margin: sizes.$margin-xs 0;
      }
    }

    &__toggle {
      display: block;
      &:hover {
        scale: 1.1

      }
    }
  }
}
