<nav class="navbar navbar--light">
  <div class="navbar__logo">
    <p>&lt;AP/&gt;</p>
  </div>
  <div class="navbar__container">
    <ul class="navbar__nav" [class.navbar__nav--active]="menuOpen()">
      @for (link of navLinks; track link.label) {
        <li class="navbar__nav-item">
          <a class="navbar__nav-item-link" [routerLink]="link.path">
            {{ link.label | translate}}
          </a>
        </li>
      }
    </ul>
  </div>

  <button class="navbar__toggle" (click)="toggleNavbar()">
    <img src="assets/icons/menu.svg" alt="Toggle Navbar" />
  </button>
  <language-selector></language-selector>
</nav>
