<div class="language-selector">
  <button class="language-icon" (click)="toggleDropdown()"  #languageIcon>
    <i class="material-icons">translate</i>
  </button>

  @if(isDropdownOpen()) {
    <div #dropdown class="dropdown"   [ngClass]="dropdownPosition()">
      <ul>
      @for(lang of supportedLanguages; track $index) {
        <li
          (click)="switchLanguage(lang.code)"
          [class.active]="lang.code === currentLanguage()">
          {{ ('nav.' + lang.code) | translate }}
        </li>
      }
      </ul>
    </div>
  }
</div>
