@use 'colors';
@use 'sizes';

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap');

* {
  font-family: 'Urbanist', system-ui, sans-serif;
}

html, body {
  box-sizing: border-box;
  color: colors.$white-color;
  margin: 0;
  font-weight: 400;
  background-color: colors.$black-color;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__main {
    flex: 1;
  }
}


