@use 'colors';
@use 'sizes';

.typing-effect {
  font-size: sizes.$font-xlarge;
  white-space: wrap;
  overflow: hidden;

  &__text {
    display: inline;
  }

  &__cursor {
    border-right: sizes.$border-s solid;
    animation: blink 0.2s step-end infinite;
    margin-left: sizes.$margin-xs;
    display: inline-block;
    height: 1.2rem;
  }
}

@keyframes blink {
  0%, 100% {
   border-color: colors.$blue-secondary;
  }
  50% {
    border-color: transparent;
  }
}
